
<footer class="footer">

  <p class="footer-motto" style="color: white; font-weight: bold;"><i class="fa fa-fort-awesome" aria-hidden="true"></i> Real Time Socket.IO  Chat App <i class="fa fa-fort-awesome" aria-hidden="true"></i>
  </p>

  <p class="footer-links">
    <a href="https://github.com/vithalreddy/nodeJS-socketIO-chat" target="_blank">View Source code In Github Repo</a> ·
    <a href="https://github.com/vithalreddy" target="_blank">Visit My Github Profile</a> ·
    <a href="mailto:vmreddyvmb@gmail.com" target="_blank">Contact</a>
  </p>

  <p class="footer-name"> &copy; <a href="https://vmrworld.com" target="_blank"><b>VithalReddy</b> </a></p>

</footer>

<!-- js files -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/socket.io-1.7.3.js"></script>
