<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>
  <div class="panel panel-primary" style="margin-left:10%;margin-right:10%;">
<div class="panel-heading">
  <h3>Wel Come to MEAN   Chat, Your Favourite Messaging App!</h3>
  <div > <ul id="hell0" class="list-unstyled">

  </ul> </div>
</div></div>
<hr><br>
  <main>
    <div class="container-fluid">
      <input type="hidden" id="user" value="<%= user.username %>"/>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2>Chat Options</h2></div>

            <div class="panel-body" id="scrl1">
              <h4 class="boxF">For Group Chat Click on Group Button and for One-to-One chat click on Username</h4>
              <ul id="list" ></ul>
            </div>
            <div class="panel-footer">
              <p id="typing"  class="btn btn-danger btn-block btn-lg"></p>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 id="frndName">Chat Room</h4>
            </div>
            <div class="panel-body" id="scrl2">
              <p id="loading">Loading..... Please Wait.</p>
              <p id="noChat">No More Chats To Display.....</p>
              <p id="initMsg">!!...Click On User Or Group Button To Start Chat...!!</p>
              <ul id="messages"></ul>
            </div>
            <div class="panel-footer">
              <form id="chatForm" action="">
                <input id="myMsg" class="input-box-send" autocomplete="off" placeholder="Write Message Here.." />
                <button id="sendBtn" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-send"></span> <b>Send</b></button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <% include ./parts/footer.ejs %>

  <script src="/js/scriptForChat.js"></script>
</body>
</html>
