<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
</head>
<body class="login-screen">
  <% include ./parts/header.ejs %>
  <main>
    <main>
  <div class="login-box">
    <br>
 <p><b>Sign In to Your Account</b></p>
 <br>
 <span class="input-icon" ><i class="icon_profile"></i></span><hr>
    <form class="login-form" action="/user/api/v1/login" method="post">
      <div class="input-block">
        <input class="input-box" type="email" name="email" placeholder="Email" autofocus required/>
      </div>
      <div class="input-block">
        <input class="input-box" type="password" name="password" placeholder="Password" required/>
      </div>
      <button class="btn btn-success btn-lg btn-block" type="submit" name="submit">Login</button><br>
      <p><b>Don't have an account?</b> </p>
      <a href="/user/signup"  class="btn btn-danger btn-lg btn-block"><b>Sign Up Here</b></a><br>
    </form>
  </div>
  </main>
  <% include ./parts/footer.ejs %>
</body>
</html>
