<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>

  <main>

    <p>Notifications</p>
    <p> <%= msg %> </p><br>
    <p> <%= status %> </p><br>
    <p> <%= error %> </p><br>

  </main>

  <% include ./parts/footer.ejs %>
</body>
</html>
